* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}
body {
  background-color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  position: relative;
}
.non-scroll {
  overflow: hidden;
  padding-right: 15px;
}
.container {
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #000;
}
.header-main > .container > ul > li > a:hover,
.header-menu-dropdown > a:hover {
  color: #3b63b7;
}
li {
  list-style: none;
}
.section-title {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.02em;
}
.white-text {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: lighter;
}
.more-info-button {
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  border: none;
  padding: 9px 32px;
}

/* ************************** */

.header-info {
  background-color: #2e364e;
  color: #fff;
}
.header-info > .container {
  justify-content: flex-end;
}
.header-info > .container > div > p {
  margin: 12px 0;
  margin-right: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.header-info > .container > div > p > img {
  height: 12px;
  margin-right: 10px;
}
.social > a {
  margin-left: 1px;
  height: 40px;
  width: 40px;
  justify-content: center;
  background-color: #475374;
}

/* ************************** */

#logo {
  position: absolute;
  top: -25%;
  z-index: 1000;
}
.header-main {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}
.header-main > .container > ul > li > a {
  padding: 31px 0;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}
.header-main > .container > ul > li {
  position: relative;
}
.header-main > .container > ul {
  width: 60%;
  margin-left: 17%;
}
.header-menu-dropdown {
  position: absolute;
  background-color: #fff;
  border-top: 2px solid #000;
  padding: 15px 50px 30px 20px;
  display: none;
  flex-direction: column;
  top: 100%;
  width: 246px;
  left: 0;
  z-index: 50;
}
.header-menu-dropdown > a {
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.header-main > .container > ul > li:hover > .header-menu-dropdown {
  display: flex;
}
.header-main > .container > ul > li > a > img {
  margin-left: 5px;
}
.header-button {
  cursor: pointer;
  background: #3b63b7;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  border: none;
  padding: 11px 32px;
  transition: 0.6s;
}
.header-button:hover {
  opacity: 0.5;
}

/* ************************** */

.promo {
  background-color: #3b63b7;
}
.banner-container {
  width: 100%;
  height: 100%;
}
.banner-slide {
  background-image: url(../images/promo1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 0 70px 0;
}
.promo-title {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.02em;
  margin-bottom: 46px;
  width: 45%;
  color: #fff;
}
.banner-slide > .container > .header-button {
  background-color: #5495ff;
}
.banner-container:hover > .banner-prev,
.banner-container:hover > .banner-next {
  display: block !important;
}

/* ************************************** */

.main-footer {
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 10px;
}
.main-footer > .container {
  position: relative;
}
.main-footer > * > .logo {
  position: absolute;
  top: -50px;
}
.footer-info {
  margin-left: 24%;
}
.footer-info > p {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  margin-bottom: 10px;
}
.footer-info > div {
  margin-top: 12px;
}
.footer-info > div > button {
  background-color: #5495ff;
  width: 150px;
  height: 30px;
  padding: 0;
}
.footer-links {
  align-items: flex-start;
}
.footer-links-column {
  flex-direction: column;
  margin-left: 60px;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-links-column > a {
  color: #fff;
  margin-bottom: 10px;
}
.footer-links-column > a:hover {
  text-decoration: underline;
}
.footer-info > div > .social > a {
  background-color: #212634;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* ********************************************* */

.footer-extra {
  background-color: #212634;
}
.footer-extra > .container {
  padding: 13px 0;
}
.footer-extra > .container > p,
.footer-extra > .container > a {
  font-size: 12px;
  line-height: 16px;
}
.footer-extra > * > a {
  color: #fff;
  text-decoration: underline;
}

/* *********************************************************************** */
/* *********************************************************************** */

.text {
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 25px;
}
.text-title {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
  letter-spacing: 0.02em;
}
.under-photo {
  font-size: 14px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
}
hr {
  border: 0.5px solid #000;
  height: 0.1px;
}

/* ********************************* */

.scrollup {
  position: fixed;
  right: 3%;
  bottom: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  background-image: url(../images/up.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 100;
}

/* ****************************************************** */

.menu-burger {
  display: none;
}
#burger-icon {
  width: 36px;
  height: 36px;
  border-radius: 2px;
  background-color: #3b63b7;
  background-repeat: no-repeat;
  background-position: center center;
}
.closed {
  background-image: url(../images/mobile_menu.png);
}
.opened {
  background-image: url(../images/mobile_menu_close.png);
}

#dropdown-burger,
.call-button,
.footer-links-column:last-of-type {
  display: none;
}
.call-button {
  width: 36px;
  height: 36px;
  background-color: #fff;
  background-image: url(../images/call_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

#dropdown-burger {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: #3b63b7;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
}
.dropdown-burger,
.menu-burger-dropdown > div {
  display: flex;
  flex-direction: column;
}
.dropdown-burger > a,
.dropdown-burger > div > p,
.menu-burger-dropdown > div > a {
  color: #fff;
}
.dropdown-burger > a,
.dropdown-burger > div > p {
  padding: 10px 15px;
  border-bottom: 1px solid #648bde;
  justify-content: flex-start;
}
.dropdown-burger > div > p > img {
  margin-left: 12px;
  margin-bottom: 2px;
}

.menu-burger-dropdown {
  display: none;
}
.menu-burger-dropdown > div > a {
  background-color: #6087da;
  padding: 10px 15px;
}

.dropdown-burger > div > a:hover > .menu-burger-dropdown {
  display: block;
}

/* MODAL */

#MODAL {
  display: none;
  position: fixed;
  z-index: 555;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
#modal-window {
  background-color: #fff;
  border-radius: 2px;
  width: fit-content;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#modal-window > * {
  margin: 10px 0;
}
#modal-window > p {
  font-size: 20px;
  line-height: 24px;
}
#modal-window > input {
  width: 100%;
}
#modal-window > .header-button {
  font-size: 16px;
  line-height: 20px;
}
#input-name-m,
#input-email-m,
#input-tel-m {
  background-color: #fff;
  border-radius: 2px;
  padding: 11px 25px;
  border: none;
  border: 1px solid rgb(116, 116, 116);
}
#input-name-m::placeholder,
#input-email-m::placeholder,
#input-tel-m::placeholder {
  color: #000;
}
#modal-window > p:last-of-type {
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
}