.title {
    background-image: url(../images/Rectangle\ 615.png);
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    color: #fff;
}
.title > * > p:first-of-type {
    text-align: center;
    margin-bottom: 25px;
}
.title > * > p:first-of-type > a {
    font-size: 14px;
}

/* ******************************** */

.about-main {
    background-image: url(../images/478\ 2.png);
    background-size: cover;
    background-position: center center;
    padding-top: 72px;
    padding-bottom: 53px;
}
.about-main > .container > ul {
    width: 55%;
}
.about-main > .container > ul > li {
    font-size: 18px;
    line-height: 25px;
    padding-left: 50px;
    margin-bottom: 25px;
    background-image: url(../images/li-romb.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* ************************************ */

.company-promo-photo-1 {
    width: 50%;
    height: 300px;
    background-image: url(../images/Rectangle\ 635.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.about-text-1 > .text {
    width: 38%;
    margin: 0;
    margin-right: 10%;
}
.company-promo-photo-2 {
    width: 50%;
    height: 300px;
    background-image: url(../images/Rectangle\ 641.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.about-text-2 > .text {
    width: 38%;
    margin: 0;
    margin-left: 10%;
}

/* ************************************* */

.sertificates {
    background-color: #f1f3f4;
    padding-top: 40px;
    padding-bottom: 55px;
}
.sertificates > .container > .section-title {
    margin-bottom: 40px;
}
.sertificates-item {
    position: relative;
    cursor: pointer;
    flex-basis: 32%;
    padding: 2%;
    background-color: #fff;
    justify-content: center;
    height: 320px;
    outline: none;
    box-shadow: 0px 0px 30px #e3eaee;
}
.sertificates-item:hover {
    outline: 1px solid #3b63b8;
}
.sertificates-item > img {
    height: 80% !important;
}

.sertificates-item:nth-of-type(1):hover > img,
.sertificates-item:nth-of-type(2):hover > img {
    height: 100% !important;
}

.big-doc > div {
    margin: 1% 15% 0 15% !important;
    height: auto !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
.big-doc:last-of-type > div {
    height: 90% !important;
}
.big-doc > div > img {
    width: 90% !important;
    height: auto !important;
}
.big-doc:last-of-type > div > img {
    width: auto !important;
    height: 90% !important;
}

