.title {
    background-image: url(../images/Rectangle\ 615.png);
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    color: #fff;
}
.title > * > p:first-of-type {
    text-align: center;
    margin-bottom: 25px;
}
.title > * > p:first-of-type > a {
    font-size: 14px;
}

/* ******************************** */

.sertificates {
    background-color: #f1f3f4;
    padding-top: 40px;
    padding-bottom: 55px;
}
.sertificates > .container > .section-title {
    margin-bottom: 40px;
}
.sertificates-item {
    position: relative;
    cursor: pointer;
    flex-basis: 32%;
    width: 32%;
    padding: 2%;
    background-color: #fff;
    justify-content: center;
    height: 320px;
    outline: none;
    box-shadow: 0px 0px 30px #e3eaee;
    transition: 0.4s;
}
.sertificates-item:hover {
    outline: 1px solid #3b63b8;
}
.sertificates-item > img {
    width: auto;
    position: absolute;
    height: 90%;
    transition: 0.4s;
}
.sertificates-item:hover > img {
    height: 120% !important;
    z-index: 1000;
}

.big-doc {
    z-index: 1000;
    left: 0;
    top: 0;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
}
.big-doc > div {
    margin: 5% 15% 0 15%;
    width: 70%;
    height: 80%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-doc > div > img {
    width: auto;
    height: 95%;
}