.title {
    background-image: url(../images/Rectangle\ 615.png);
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    color: #fff;
}
.title > * > p:first-of-type {
    text-align: center;
    margin-bottom: 25px;
}

/* ******************************** */

.sertificates {
    background-color: #f1f3f4;
    padding-top: 40px;
    padding-bottom: 55px;
}
.sertificates > .container > .section-title {
    margin-bottom: 40px;
}
.sertificates-item {
    position: static;
    cursor: pointer;
    flex-basis: 32%;
    padding: 2%;
    background-color: #fff;
    justify-content: center;
    height: 320px;
    outline: none;
    box-shadow: 0px 0px 30px #e3eaee;
}
.sertificates-item:hover {
    outline: 1px solid #3b63b8;
}
.sertificates-item > img {
    width: auto;
}