* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
    font-family: 'Roboto';
    color: #fff;
    background-image: url(./images/blue-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}
li {
    list-style: none;
    padding: 5px 0;
}