@media (max-width: 1400px) {
  .about-main {
    background-position-x: 65%;
  }
}

@media (max-width: 1100px) {
  .about-main {
    background-image: none;
    background-color: #fff;
    padding: 30px 0;
  }
  .about-main > .container > ul {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .about-main > .container > ul > li {
    margin-bottom: 15px;
  }
  .company-promo-photo-1,
  .company-promo-photo-2 {
    display: none;
  }
  .about-text-1,
  .about-text-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
  }
  .about-text-1 {
    background-image: url(../images/Rectangle\ 635.png);
    padding-left: 10%;
  }
  .about-text-2 {
    background-image: url(../images/Rectangle\ 641.png);
    padding-right: 10%;
    justify-content: flex-end;
  }
  .about-text-2 > .text,
  .about-text-1 > .text {
    margin: 0;
    width: 60%;
    background-color: #fff;
    border-radius: 2px;
    padding: 15px;
  }
}

@media (max-width: 700px) {
  .about-text-1,
  .about-text-2 {
    justify-content: center;
    padding: 30px 0 !important;
  }
  .about-text-2 > .text,
  .about-text-1 > .text {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .about-main > .container > ul > li {
    font-size: 14px;
    line-height: 18px;
    background-size: 15px;
    padding-left: 25px;
  }
}

/* sertificates */
@media (max-width: 1500px) {
  .sertificates-item > img {
    height: 70% !important;
  }
}
@media (max-width: 1315px) {
  .sertificates-item {
    height: 280px !important;
  }
}
@media (max-width: 1155px) {
  .sertificates-item {
    height: 210px !important;
  }
}
@media (max-width: 1000px) {
  .sertificates-item > img {
    height: 60% !important;
  }
}
@media (max-width: 750px) {
  .sertificates-block {
    flex-wrap: wrap;
  }
  .sertificates-item {
    flex-basis: 80% !important;
    margin: 20px auto;
    height: 340px !important;
  }
  .sertificates-item > img {
    height: 70% !important;
  }
}
@media (max-width: 600px) {
  .sertificates-item {
    flex-basis: 80% !important;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 300px !important;
  }
}
@media (max-width: 450px) {
  .sertificates-item > img {
    height: 60% !important;
  }
  .sertificates-item:nth-of-type(1):hover > img,
  .sertificates-item:nth-of-type(2):hover > img {
    height: 85% !important;
  }
}
@media (max-width: 400px) {
  .sertificates-item:nth-of-type(1):hover > img,
  .sertificates-item:nth-of-type(2):hover > img {
    height: 75% !important;
  }
}

@media (max-width: 900px) {
  .big-doc:last-of-type > div > img {
    height: auto !important;
    width: 90% !important;
  }
}

@media (max-width: 950px) {
  .big-doc:last-of-type > div {
    height: auto !important;
  }
}